/* ubuntu-mono-regular */
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: bold;
  src: url('fonts/ubuntu-mono-v8-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Ubuntu Mono'), local('UbuntuMono-Regular'),
       url('fonts/ubuntu-mono-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/ubuntu-mono-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/ubuntu-mono-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/ubuntu-mono-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/ubuntu-mono-v8-latin-regular.svg#UbuntuMono') format('svg'); /* Legacy iOS */
}

/* Unsupported browsers see this */
@keyframes noscript {
	0% {
		color: rgba(0, 0, 0, 0);
	}
	100% {
		color: rgba(255, 255, 255, 1);
	}
}
#noscript {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: black;
	text-align: center;
	line-height: 100vh;
	font-size: 5vmin;
	overflow-y: hidden;
	animation: 3s noscript;
	font-family: 'Ubuntu Mono', monospace;
	text-rendering: optimizeLegibility !important;
	font-smoothing: antialiased !important;
	-webkit-font-smoothing: antialiased !important;
	font-weight: bold;
	color: white;
}

/* Main CSS */
canvas {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	image-rendering: -webkit-pixelated;
	image-rendering: pixelated;
	background: #114;
}