/* Unsupported browsers see this */
@keyframes noscript {
	0% {
		color: rgba(0, 0, 0, 0);
	}
	100% {
		color: rgba(255, 255, 255, 1);
	}
}
#noscript {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: black;
	text-align: center;
	line-height: 100vh;
	font-size: 3vmin;
	overflow-y: hidden;
	animation: 2s noscript linear;
	font-family: "Ubuntu Mono", Ubuntu;
	color: white;
}

/* Main CSS */
canvas {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	image-rendering: -webkit-pixelated;
	image-rendering: pixelated;
	background: black;
}